config INPUT_TPS43
    bool "Azoteq TPS43 I2C Touchpad Input Device"
    default y
    depends on I2C
    depends on INPUT
    help
      Enable the driver for the Azoteq TPS43 touchpad input device over I2C.
      Supports multi-touch gestures, scrolling, clicks, and power management.

if INPUT_TPS43

config INPUT_TPS43_INIT_PRIORITY
    int "Init priority"
    default 90
    help
      Initialization priority of the device driver.

endif # ZMK_SENSOR_TPS43
